name: Despliegue Bot Metropol

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-metropol:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del Repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: |
          python -m pip install --upgrade pip
          pip install discord.py firebase-admin python-dotenv

      - name: Ejecutar Bot
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}
          FIREBASE_DB_URL: ${{ secrets.FIREBASE_DB_URL }}
        run: |
          python main.py
